[MESSAGES CONTROL]
enable=all
disable=missing-docstring,
        invalid-name,
        too-few-public-methods,
        no-member,
        unused-argument,
        import-outside-toplevel,
        suppressed-message,
        locally-disabled
max-line-length=130
